* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.background {
    /*background-color: #313136;*/
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d6260b, #5b49de, #21f4df, #07c600);
    background-size: 300% 300%;
    animation: color 12 ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.image-container img {
    position: absolute;
    top: 150px;
    left: 95px;
    width: 100%;
    height: auto;
}

.title-AG {
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 52px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.subtitle {
    color: #ffffff;
    position: absolute;
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
}

.txtImgSelected {
    top: 120px;
    left: 95px;
}

.button {
    height: auto;
    width: auto;
    background: linear-gradient(45deg, #d6260b, #5b49de, #21f4df, #07c600);
    background-size: 300% 300%;
    animation: color 6 ease-in-out infinite;
}

/* ---------------- CSS Eve ------------------ */

.container {
    background-size: cover;
    background: linear-gradient(45deg, #5b49de, #3be6d5);
    animation: color 12 ease-in-out infinite;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

h5, label, span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
}

hr {
    border: 3px solid white;
}

.text {
    display: block;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
}

.card {
    background: linear-gradient(to bottom,
            rgb(91, 239, 255),
            rgba(52, 74, 217, 0.158));
}

.card-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: white;
}

.card-text {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

.btn-primary {
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    background-color: #5b49de;
    border-color: white;
}

.range {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg,
            #21f4df 10%,
            rgba(59, 173, 227, 1) 25%,
            rgba(87, 111, 230, 1) 55%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom,
            right top,
            color-stop(0%, rgba(59, 173, 227, 1)),
            color-stop(25%, rgba(87, 111, 230, 1)),
            color-stop(51%, rgba(152, 68, 183, 1)),
            color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 55%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 55%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 55%,
            rgba(152, 68, 183, 1) 65%,
            rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg,
            rgba(59, 173, 227, 1) 15%,
            rgba(87, 111, 230, 1) 35%,
            rgba(152, 68, 183, 1) 65%,
            rgba(255, 53, 127, 1) 120%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 16px;
    border: 1px solid;
    border-color: #21f4df;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-color: #21f4df;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 50px;
    position: initial;
    bottom: 10px;
    background-color: #5b49de;
    cursor: -webkit-grab;

    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 50px;
    position: relative;
    bottom: 10px;
    background-color: #393363;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type="file" i] {
    background-color: #7869ec6b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: initial;
    cursor: default;
    align-items: center;
    width: 380px;
}

input[type=file]::file-selector-button {
    background-color: #5b49de;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 180px;
}

input[type=file]::file-selector-button:hover {
    background-color: #0d6efd;
}